:root {
  --color-background: #eee;
  --color-text: #333;
  --color-highlight: #d66828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333;
    --color-text: #eee;
  }
}

html {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  margin: 0;
  text-align: center;
}

#content {
  position: absolute;
  top: 24%;
  left: 0;
  right: 0;
}

#time-container {
  color: var(--color-text);
  background-color: var(--color-background);
  display: inline-block;
  font-size: 8rem;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem 4rem;
  border-radius: .5rem;
  transition: background-color .3s;
  border: 0;
}

#time-container:hover {
  background-color: var(--color-highlight);
  transition: background-color .1s;
}

#time {
  font-variant-numeric: tabular-nums;
}

#notifications {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: absolute;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  padding-bottom: 1rem;
}

#notifications div {
  display: inline-block;
  font-size: 2rem;
  padding: .5rem 2rem;
  background-color: var(--color-highlight);
  border-radius: .5rem;
  animation: .5s fade-out 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  to {opacity: 0;}
}
